* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    font-style: bold;
}

main {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 110px 100px 100px;
}

div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    border: 1px solid black;
}

.title {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.qr_code {
    grid-column-start: 4;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: span 4;
}

.description {
    grid-column-start: 1;
    grid-column-end: span 3;
}

.qr_code img {
    width: 70%;
}

@media (max-width: 900px) {
    body {
        color: white;
    }
}

@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 50px 400px 0px 50px;
    }

    .description {
        display: none;
    }

    .qr_code img {
        width: auto;
        height: 80%;
    }

    .qr_code {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 1;
    }

    .title {
        grid-column-start: 1;
        grid-column-end: span 2;
        background: black;
        color: white;
    }

    .price {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 5;
        grid-row-end: span 1;
    }
}