* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
}

main {
    background-color: #eead63;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 110px 100px 100px;
}

div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    border: 1px solid black;
}

.title {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.qr_code {
    grid-column-start: 4;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: span 4;
}

.description {
    grid-column-start: 1;
    grid-column-end: span 3;
}