* {
    box-sizing: border-box;
}

/* SETTING UP NAVIGATION */

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 1em;
}

