* {
    box-sizing: border-box;
}

/* SETTING UP NAVIGATION */

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 1em;
}

/* CSS GRID IMAGES */

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

section img {
    padding: 15px;
    /* is the same as
  flex-grow: 1;
  flex-basis: 100px; */
    flex: 1 1 100px;
}

/* MOBILE VERSION */

@media (min-width: 700px) {
    .logo {
        width: auto;
        order: 2;
    }

    .typgraphy, .ui {
        order: 1;
    }

    .branding, .graffiti {
        order: 3;
    }
}